.contact-title {
  margin-bottom: 2em;
  font-size: 3.5rem;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-wrapper,
.message-wrapper {
  width: 48%;
  min-width: 625px;
  padding: 2em 3em;
}

.address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px goldenrod solid;
  border-radius: 20px;
  margin-bottom: 4em;
}

.address-wrapper h4 {
  color: goldenrod;
}

.address-wrapper p,
.address-wrapper a {
  margin-left: 1em;
}

.address-wrapper a {
  color: black;
  text-decoration: none;
}

.address-wrapper a:hover, .address-wrapper a:focus {
  text-decoration: underline;
}

.address,
.email,
.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0 2em;
}

.left {
  width: 50%;
}

.right {
  width: 40%;
}

.open-hours .day {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-wrapper {
  margin-bottom: 4em;
  margin-left: 2em;
  border: 2px goldenrod solid;
  border-radius: 20px;
}

.message-wrapper h3 {
  color: goldenrod;
  text-align: center;
  font-size: 2rem;
}

.full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  overflow: hidden;
  margin-top: 0.5em;
}

.input-name {
  height: 100%;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2px;
  font-size: 2.2rem;
  border: none;
  outline: none;
}

.label-name {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #2f2f2f;
}

.label-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid goldenrod;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-name {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-name:focus + .label-name .content-name,
.input-name:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.8rem;
  color: goldenrod;
}

.input-name:focus + .label-name::after,
.input-name:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#textarea {
  width: 100%;
  border: 1px solid black;
  height: 6em;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  font-size: 3rem;
}

.contact-map {
  width: 100%;
  height: 50vh;
}

@media (max-width: 1600px) {
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .message-wrapper {
    margin-left: 0;
  }
  .address-wrapper,
  .message-wrapper {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .address-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address-wrapper,
  .message-wrapper {
    width: 100%;
    min-width: 0px;
  }
  .right,
  .left {
    width: 80%;
  }
  .form {
    width: 50%;
    min-width: 220px;
  }
}

@media (max-width: 500px) {
  .right,
  .left {
    width: 100%;
  }
  .address-wrapper,
  .message-wrapper {
    padding: 2em;
  }
  .form {
    width: 100%;
    min-width: 0px;
  }
  main {
    padding-top: 8em;
  }
  .contact-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 380px) {
  .address-wrapper {
    font-size: 1rem;
  }
  .content-name,
  #textarea {
    font-size: 1.2rem;
  }
  .contact-title {
    font-size: 2rem;
  }
  main {
    padding-top: 8em;
  }
  .message-wrapper h3 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=contact.css.map */