main {
  padding-top: 12em;
}

.subpage-title {
  margin-bottom: 4em;
}

.subpage-title h2 {
  font-size: 3.5rem;
}

.subpage-title p {
  color: goldenrod;
  font-size: 2.2rem;
  margin-top: 0.5em;
}

.vote-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  pointer-events: none;
  visibility: hidden;
}

.card-container {
  max-width: 25%;
}

.votes-number {
  text-align: center;
  margin-top: 2em;
  font-size: 2.5rem;
}

.vote-card {
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  background-color: #2f2f2f;
  -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.65);
          box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.65);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.vote-card img {
  opacity: 0.7;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.vote-card:hover {
  -webkit-box-shadow: 30px 30px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 30px 30px 25px rgba(0, 0, 0, 0.5);
}

.vote-card:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  opacity: 1;
}

.vote-card::before, .vote-card::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 2.25em;
  bottom: 2.25em;
  left: 1.25em;
  right: 1.25em;
  opacity: 1;
  -webkit-transition: -webkit-transform ease-out 300ms;
  transition: -webkit-transform ease-out 300ms;
  transition: transform ease-out 300ms;
  transition: transform ease-out 300ms, -webkit-transform ease-out 300ms;
}

.vote-card::after {
  border: 1px solid white;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.vote-card:hover::after {
  -webkit-transform: scale(1, 1.05);
          transform: scale(1, 1.05);
}

.card-title {
  font-size: 5rem;
  font-family: "Caveat Brush", cursive;
  letter-spacing: 8px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.insert-contact {
  text-align: center;
  margin-top: 5em;
  font-size: 2rem;
}

.contest-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
  font-family: "Poppins", sans-serif;
}

.contest-form form {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contest-form .email-form {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.contest-form .email-form input {
  width: 100%;
  height: 100%;
  color: #2f2f2f;
  font-size: 2rem;
  padding-top: 2em;
  border: none;
  position: relative;
  outline: none;
}

.contest-form .email-form input:focus + .label-email .content-email,
.contest-form .email-form input:valid + .label-email .content-email {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.4rem;
  color: goldenrod;
}

.contest-form .email-form input:focus + .label-email::after,
.contest-form .email-form input:valid + .label-email::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.contest-form .email-form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  height: 100%;
  border-bottom: 1px solid #000;
}

.contest-form .email-form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid goldenrod;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contest-form .content-email {
  position: absolute;
  font-size: 2.2rem;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.submit-btn {
  width: 20%;
  margin-left: 2em;
  background-color: #fff;
  padding: 0.5em 1em;
  font-size: 1.6rem;
  border: 2px solid #000;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.submit-btn:hover, .submit-btn:focus {
  background-color: goldenrod;
  color: white;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-wrapper,
.message-wrapper {
  width: 47.5%;
  padding: 2em 3em;
}

.address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px goldenrod solid;
  border-radius: 20px;
  margin-bottom: 4em;
}

.address-wrapper h4 {
  color: goldenrod;
}

.address-wrapper p,
.address-wrapper a {
  margin-left: 1em;
}

.address-wrapper a {
  color: black;
  text-decoration: none;
}

.address-wrapper a:hover, .address-wrapper a:focus {
  text-decoration: underline;
}

.address,
.email,
.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0 2em;
}

.left {
  width: 50%;
}

.right {
  width: 40%;
}

.open-hours .day {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-wrapper {
  margin-bottom: 4em;
  border: 2px goldenrod solid;
  border-radius: 20px;
}

.message-wrapper h3 {
  color: goldenrod;
  text-align: center;
  font-size: 2rem;
}

.full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  overflow: hidden;
  margin-top: 0.5em;
}

.input-name {
  height: 100%;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2px;
  font-size: 2.2rem;
  border: none;
  outline: none;
}

.label-name {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #2f2f2f;
}

.label-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid goldenrod;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-name {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-name:focus + .label-name .content-name,
.input-name:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.8rem;
  color: goldenrod;
}

.input-name:focus + .label-name::after,
.input-name:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#textarea {
  width: 100%;
  border: 1px solid black;
  height: 6em;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  font-size: 3rem;
}

.contact-map {
  width: 100%;
  height: 50vh;
}

.offer-title {
  margin-bottom: 0;
}

.filter-select {
  width: 100%;
  color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  border: 0;
  -webkit-animation: 0.4s ease;
          animation: 0.4s ease;
  cursor: pointer;
}

.filter-select option {
  font-size: 2rem;
}

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter {
  margin-top: 1em;
  width: 20em;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.custom-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3em;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5em;
}

.arrow-down {
  font-size: 3rem;
  color: black;
}

.generator,
.wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.generator p,
.wishlist p {
  color: goldenrod;
  font-size: 2.3rem;
}

.try-btn {
  margin-left: 2em;
  background-color: #fff;
  padding: 0.5em 2em;
  font-size: 1.6rem;
  border: 2px solid #000;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.try-btn:hover, .try-btn:focus {
  background-color: goldenrod;
  color: white;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 999;
  background-color: #fff;
  width: 500px;
  max-width: 80%;
  padding: 3em;
}

.pop-up.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.pop-up-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.pop-up-header h3 {
  font-size: 2.5rem;
}

.close-x {
  font-size: 3.2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0.5em;
  right: 0.5em;
  z-index: 1000;
}

.overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.overlay.active {
  visibility: visible;
  pointer-events: all;
}

.pop-up-body {
  margin: 0 auto;
  width: 70%;
  position: relative;
}

.wishlist-length {
  background-color: goldenrod;
  border-radius: 50%;
  padding: 0 0.4em;
  color: white;
  display: none;
}

.wishlist ul {
  list-style-type: none;
  font-size: 2.8rem;
  position: relative;
  padding: 0 2em;
}

.wishlist ul:hover {
  text-decoration: underline;
}

.wishlist-title,
.x-btn {
  cursor: pointer;
}

.wishlist-items {
  display: none;
}

.wishlist-active {
  position: absolute !important;
  width: 100%;
  display: block;
  background-color: #2f2f2f;
  z-index: 9999;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

.wishlist-active li {
  color: goldenrod;
  font-size: 1.8rem;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 4rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-front {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  border: 5px solid #2f2f2f;
  -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.card-back {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  -webkit-transform: rotateY(180deg) translateZ(1px);
          transform: rotateY(180deg) translateZ(1px);
  background-color: white;
  border: 5px solid #2f2f2f;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back-face {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-face h4 {
  font-size: 2rem;
}

.back-face .symbol {
  margin-top: 0.5em;
  font-size: 3rem;
  color: goldenrod;
}

.heart {
  padding: 0.5em;
  cursor: pointer;
}

.heart:hover {
  text-decoration: underline;
}

.card-wrapper img {
  width: 25rem;
}

.card:hover .card-wrapper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.3);
}

.card:hover .card-front {
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
}

.unit-title {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: white;
}

.unit-title h4 {
  font-size: 1.8rem;
}

.unit-title h3 {
  font-size: 2.7rem;
}

.discount {
  padding: 1em 2.2em;
  border-radius: 100px;
  background-color: goldenrod;
  width: 25%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1em;
  right: 1em;
}

.gradient-overlay {
  position: relative;
}

.gradient-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(252, 252, 252, 0)), to(#252424));
  background: linear-gradient(180deg, rgba(252, 252, 252, 0) 70%, #252424 100%);
}

.card-active {
  display: block;
}

.card-inactive {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.intro {
  text-align: center;
  display: none;
  overflow-y: hidden;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  -webkit-animation: fadeout 1s;
          animation: fadeout 1s;
}

.fadein {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.waves-title {
  letter-spacing: 0.04em;
  font-family: "Caveat Brush", cursive;
  font-size: 35rem;
  text-transform: uppercase;
  mix-blend-mode: screen;
  background-color: white;
  opacity: 0.9;
  height: 100vh;
  padding-top: 20vh;
}

.proceed {
  line-height: 20vh;
  width: 100%;
  background-color: transparent;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  left: 0;
}

.continue-link {
  display: inline-block;
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  font-family: sans-serif;
}

.continue-link:hover,
.continue-link:focus {
  text-decoration: underline;
}

.enter {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  display: none;
}

.main-page {
  visibility: hidden;
}

header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 1.5em 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.subpage {
  background-color: black;
}

.header-active {
  background-color: #2f2f2f;
  -webkit-box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4);
  padding: 0.5em 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Sriracha", cursive;
  font-size: 3.5rem;
  cursor: pointer;
}

.logo span {
  color: goldenrod;
}

.logo a {
  text-decoration: none;
  color: white;
}

.fa-globe-americas {
  font-size: 3.5rem;
  color: goldenrod;
  margin-right: 0.3em;
  -webkit-clip-path: circle(46%);
          clip-path: circle(46%);
  background-color: white;
}

.main-nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav-list {
  font-size: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.main-nav-list li + li {
  margin-left: 3em;
}

.main-nav-list a {
  text-decoration: none;
  color: white;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav-list:hover > li a {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

.main-nav-list li a:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: goldenrod;
}

.hero {
  height: 100vh;
  background-image: url(../img/background/cave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-size: 8rem;
  font-weight: 600;
  color: white;
  width: 50%;
  padding: 3em 0 1em;
  line-height: 9rem;
}

.typing {
  margin-left: 0.4em;
  font-weight: normal;
  color: goldenrod;
  letter-spacing: 4px;
}

.typing-bar {
  display: inline-block;
  background-color: #fff;
  margin-left: 0.1em;
  width: 3px;
  -webkit-animation: blink 1.5s infinite;
          animation: blink 1.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.discover-btn a {
  text-decoration: none;
  cursor: pointer;
  padding: 1em 2em;
  background-color: transparent;
  font-size: 1.9rem;
  color: white;
  border: 3px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.discover-btn a:hover {
  color: goldenrod;
}

.discover-btn a:before, .discover-btn a:after {
  border: 0 solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
}

.discover-btn a:before {
  border-top: 3px solid goldenrod;
  right: -3px;
  top: -3px;
  border-left: 3px solid goldenrod;
  top: -3px;
  left: -3px;
}

.discover-btn a:after {
  border-bottom: 3px solid goldenrod;
  bottom: -3px;
  right: -3px;
  border-right: 3px solid goldenrod;
  bottom: -3px;
  right: -3px;
}

.discover-btn a:hover:before, .discover-btn a:hover:after {
  width: 102%;
  height: 108%;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-80px) translateX(-50%) rotate(45deg);
          transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.arrow span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
  opacity: 0;
}

.arrow span:nth-child(1) {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.arrow span:nth-child(2) {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

.guaranty {
  background-color: #fff;
  padding: 3em 0 5em;
}

.guaranty h3 {
  font-size: 3.5rem;
  margin-bottom: 1em;
}

.guaranty-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature {
  width: 15%;
  text-align: center;
  margin-top: 3em;
}

.feature .feature-logo {
  font-size: 5rem;
  color: goldenrod;
}

.feature h4 {
  font-size: 2.2rem;
  padding: 0.5em 0;
}

.quiz-container {
  background-image: url(../img/background/Forest.jpg);
  background-attachment: fixed;
  position: relative;
  padding: 4em 0;
}

.quiz-title {
  color: goldenrod;
  margin-bottom: 1em;
  font-size: 5rem;
}

.quiz-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz {
  padding: 3em 3em 1.5em 3em;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 20px;
  width: 800px;
  max-width: 80%;
}

.question {
  font-size: 2rem;
  margin-bottom: 2em;
}

.options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 2em;
  text-align: center;
}

.option {
  padding: 1em 2em;
  background-color: #fff;
  border: 1.5px solid #2f2f2f;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: goldenrod;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.btn {
  padding: 1em 2em;
  background-color: #fff;
  border: 1.5px solid #2f2f2f;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  display: none;
}

.btn:hover {
  background-color: goldenrod;
}

.correct {
  background-color: #27a127;
  color: white;
}

.correct:hover {
  background-color: #27a127;
}

.incorrect {
  background-color: #ac1b1b;
  color: white;
}

.incorrect:hover {
  background-color: #ac1b1b;
}

.pop-up-quiz {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  z-index: 999;
  width: 25vw;
  height: 7em;
  max-width: 80%;
}

.instructions {
  color: white;
  font-size: 2rem;
  margin-bottom: 1em;
}

.scratch {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: silver;
  border: 3px black dashed;
  overflow: hidden;
}

.pop-up-quiz.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.eraser {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  background-image: url(../img/discount_20.png);
  background-attachment: fixed;
  background-repeat: round;
  background-position: top left;
  pointer-events: none;
}

.close-x {
  position: absolute;
  top: -1em;
  right: -1em;
}

.world-map {
  padding: 4em 0 0;
  background-color: #2f2f2f;
}

.svg-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-title {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
  color: goldenrod;
}

#continents path {
  cursor: pointer;
  fill: #fff;
  stroke: black;
  stroke-width: 0.2px;
}

#africa:hover > path,
#africa:focus > path {
  fill: goldenrod;
  stroke: black;
  stroke-width: 0.4px;
}

#europe:hover > path,
#europe:focus > path {
  fill: goldenrod;
  stroke-width: 0.4px;
}

#australia:hover > path,
#australia:focus > path {
  fill: goldenrod;
  stroke-width: 0.4px;
}

#asia:hover > path,
#asia:focus > path {
  fill: goldenrod;
  stroke-width: 0.4px;
}

#north-america:hover > path,
#north-america:focus > path {
  fill: goldenrod;
  stroke-width: 0.4px;
}

#south-america:hover > path,
#south-america:focus > path {
  fill: goldenrod;
  stroke-width: 0.4px;
}

.weather {
  background: #2f2f2f;
  padding: 4em;
}

.weather-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.weather-card {
  padding: 2em;
  color: black;
  width: 17em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 10px black;
          box-shadow: 5px 5px 15px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-card .degree {
  font-size: 5.5rem;
}

.weather-card .celsius {
  font-size: 3.5rem;
}

.weather-card .location {
  font-size: 3rem;
}

.reviews {
  background-color: goldenrod;
  padding: 3em 0 0;
  color: white;
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-text {
  width: 50%;
  position: relative;
  padding-bottom: 4em;
  line-height: 4rem;
}

.author {
  font-size: 3rem;
  margin-top: 1.5em;
  font-family: "Caveat Brush", cursive;
  position: absolute;
  bottom: 0;
  right: 0;
}

.review-head {
  padding-right: 4em;
}

.review-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo-footer a {
  color: black;
  margin-top: 1.5em;
}

footer {
  color: black;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 0 2em;
  border-bottom: 1px solid #dddddd;
}

.social ul li {
  list-style-type: none;
}

.social ul li + li {
  margin-left: 2em;
}

.social ul li a {
  cursor: pointer;
  color: black;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f1f1f1;
  display: block;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(#ddd), to(#fff));
  background: linear-gradient(90deg, #ddd, #fff);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social ul li a:hover {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: goldenrod;
}

.social ul .icon {
  font-size: 1.9rem;
}

.social ul path {
  cursor: pointer;
}

.social ul .logo-wrapper {
  padding: 8px;
  background: #f1f1f1;
  border-radius: 50%;
}

.footer-list {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.footer-list li {
  cursor: pointer;
}

.footer-list ul {
  list-style-type: none;
}

.footer-list li + li {
  margin-top: 0.3em;
}

.footer-list h4 {
  margin-bottom: 1em;
}

.copyright {
  font-size: 1.3rem;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #9c9696;
}
/*# sourceMappingURL=style.css.map */